/* === 

background:
http://themes.googleusercontent.com/image?id=0BwVBOzw_-hbMZWFkYWZhMTgtNzBmZS00ZjllLWI2NDctYzE1YzMzOWIwODZj&options=w1200

h1, h2: allerta stencil 36 és 18px, szín: rgba(12, 159, 33,.8)
=== */

/* ==== HELPER COLORS FOR LAYOUT ==== */
/* 
.main-header {
	background-color: rgba(255, 248, 53, .3);
}
 
.primary-content {
	background-color: rgba(140, 96, 255, .3);
}
 
.post {
	background-color: rgba(255, 0, 0, .3);
}
*/

/* === base styles === */
*{
  box-sizing: border-box;
}
body{
  font: 1.125rem/2rem 'Merriweather Sans', sans-serif;
  color: rgba(51,51,51,.8);
  /* background: url('http://themes.googleusercontent.com/image?id=0BwVBOzw_-hbMZWFkYWZhMTgtNzBmZS00ZjllLWI2NDctYzE1YzMzOWIwODZj&options=w1200') no-repeat center center fixed;
  background-size: cover;*/
}

h1, h2{
  font: 'Allerta Stencil', sans-serif;
  color:chartreuse;
}

h1{
  font-size: 2.25rem;
}
h2{
  font-size: 1.375rem;
  background-color: rgb(66, 68, 78);
  margin-top: -2.5rem;
  padding: 2.5rem 0;
}
.main-header p{
  letter-spacing: .125rem;
  color: palegreen
}
a {
	color: palegreen;
	text-decoration: none;
}

a:hover {
	color: chartreuse;
}

/* === Layout === */
h1,ul,ol,p,figure,
pre,table,fieldset,hr,img,
.main-header, .primary-content {
    margin-bottom: 1rem;
}
/* === header styles */ 
.main-header{
  text-align: center;
  padding: 1.25rem;
  background-color: rgb(66, 68, 78);
  position: fixed;
  top:0;
  width: 100%;
  margin: 0 auto;
}

@media (min-width:768px){
  .main-header{
    position: fixed;
    top:0;
    width: 33%;
    height: 100%;
  }
}

@media (min-width:1025px){
  .main-header{
    width: 25%;
  }
}
/* Primary Content Wrapper Styles */
@media(max-width:768px){ /* szabály a mobil kijelzőkre, adjon egy margót a fixált header miatt*/
  main{
    margin-top: 13.4rem;
  }
}

@media (min-width: 768px) {
	.primary-content {
		float: right;
		width: 66.6%;
		max-width: 812px;
	}
}

@media (min-width:1025px){
  .primary-content{
    float: none;
    position: absolute;
    left: 25%;
  }
}
/* === article styles === */

.post{
  width: 95%;
  margin: 0 auto 1rem;
  padding: .3125rem;
}
.picture{
  width: 100%;
}

/* === komponensek */
.button{
  display: inline-block;
  border: 2px solid palegreen;
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px;
  width: 100px;
}
.button:hover {
  border: 2px solid chartreuse;
  background-color: azure;
}

.load{
  display: block;
  	display: block;
	text-align: center;
	padding: 0.625rem;
	font-size: 1.25rem;
	color: rgb(255, 0, 102);
}

